//Font variables
$font-family: 'Source Sans Pro', sans-serif;


//colors
$black          : #000;
$white          : #fff;
$light-blue     : #199fce;
$site-green     :#5FCF80;
$site-grey      : #f6f9fa;
$site-grey-light: #777777;
$hero-grey      : #e0e0e0;