@media only screen and (max-width: 800px) {
   #nav {
      width: 100%;
      top: 60px;
      .nav-right{
         display: none;
      }
      ul {
         text-align: center;
         width: 100%;
         margin-top: 30px;
         li {
            width: 100%;
            padding-top: 10px;
         }
      }
      .burger_menu {
         padding-top: 50px;
         text-align: center;
         display: block;
      }
   }
}