/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,300,700italic,400,300italic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700; }

h2 {
  font-size: 28px;
  padding-bottom: 10px; }

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  text-align: justify; }

body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #f6f9fa; }

p {
  color: #576366;
  font-size: 24px; }

#nav {
  width: 100%;
  margin: 0 auto;
  padding: 40px 25px 0px;
  background-color: #e0e0e0;
  box-sizing: border-box; }
  #nav .nav-right {
    display: block; }
  #nav h3 {
    font-size: 40px;
    color: #576366;
    float: left; }
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    font-size: 23px; }
    #nav ul li a {
      color: #000;
      padding-left: 40px;
      float: right;
      text-decoration: none; }
      #nav ul li a:hover {
        color: #fff; }
  #nav .burger_menu {
    display: none;
    font-size: 50px; }

#content {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  height: 480px;
  background-image: url(../images/Kunle2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  #content .dev_pic {
    display: block;
    width: 20%;
    margin: 0 auto;
    -webkit-border-radius: 85px;
    -moz-border-radius: 85px;
    border-radius: 85px; }
  #content .title {
    text-align: center; }
    #content .title p {
      width: 900px;
      margin: 0 auto;
      margin-top: 10px;
      padding: 10px 0; }

#about {
  margin-top: 20px;
  text-align: center; }
  #about p {
    width: 900px;
    margin: 0 auto; }

#blogs {
  margin-top: 20px;
  padding-top: 20px;
  text-align: center; }
  #blogs .blog {
    width: 17%;
    display: block;
    margin: 0 auto;
    margin-top: 30px; }
  #blogs p {
    text-align: center;
    padding-bottom: 10px; }
  #blogs a {
    color: #5FCF80;
    text-decoration: none;
    font-weight: bold; }

#blog-content {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 100px; }
  #blog-content p {
    width: 900px;
    padding-top: 20px;
    margin: 0 auto; }
  #blog-content .quotes {
    text-align: center;
    font-weight: bold;
    font-style: italic; }
  #blog-content ul {
    color: #576366;
    font-size: 24px;
    padding-left: 100px; }
    #blog-content ul li {
      text-align: left;
      width: 900px;
      padding-top: 20px;
      margin: 0 auto;
      list-style-type: square; }

#projects {
  margin-top: 20px;
  padding: 20px 0px;
  text-align: center; }
  #projects .screen {
    width: 15%; }
  #projects p {
    width: 900px;
    padding-top: 20px;
    margin: 0 auto; }
    #projects p:last-child {
      text-align: center; }
    #projects p a {
      color: #5FCF80;
      text-decoration: none; }

footer {
  margin: 0 auto;
  background-color: #199fce;
  padding: 20px 0px;
  text-align: center; }
  footer h2 {
    color: #fff; }
  footer .row img {
    padding-left: 20px; }

@media only screen and (max-width: 800px) {
  #nav {
    width: 100%;
    top: 60px;
    padding-bottom: 50px; }
    #nav.nav-setHeight {
      height: 200px; }
    #nav h3 {
      font-size: 36px;
      float: none;
      text-align: center; }
    #nav .nav-right {
      display: none; }
    #nav ul {
      text-align: center;
      width: 100%; }
      #nav ul.active {
        display: block;
        animation-name: slideDown;
        -webkit-animation-name: slideDown;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        visibility: visible !important; }
      #nav ul li a {
        width: 100%;
        padding-top: 10px; }
    #nav .burger_menu {
      padding-top: 15px;
      text-align: center;
      display: block; }

   /*
==============================================
slideDown
==============================================
*/
  @keyframes slideDown {
    0% {
      transform: translateY(-100%); }
    50% {
      transform: translateY(8%); }
    65% {
      transform: translateY(-4%); }
    80% {
      transform: translateY(4%); }
    95% {
      transform: translateY(-2%); }
    100% {
      transform: translateY(0%); } }
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%); }
    50% {
      -webkit-transform: translateY(8%); }
    65% {
      -webkit-transform: translateY(-4%); }
    80% {
      -webkit-transform: translateY(4%); }
    95% {
      -webkit-transform: translateY(-2%); }
    100% {
      -webkit-transform: translateY(0%); } }
  #content {
    color: #fff; }
    #content .dev_pic {
      display: block;
      width: 50%;
      margin: 0 auto; }
    #content .title {
      font-size: 28px; }

  #about h2 {
    font-size: 24px; }
  #about p {
    width: 80%;
    text-align: justify; }

  #blogs .blog {
    width: 40%; }
  #blogs h2 {
    font-size: 24px; }
  #blogs p {
    width: 80%;
    margin: 0 auto;
    text-align: justify; }

  #blog-content h2 {
    font-size: 24px; }
  #blog-content p {
    width: 80%;
    text-align: justify; }
  #blog-content ul {
    padding-left: 10px; }
    #blog-content ul li {
      width: 80%;
      text-align: justify; }

  #projects .screen {
    width: 24%; }
  #projects p {
    margin: 0 auto;
    text-align: justify;
    width: 80%; } }
@media only screen and (max-width: 400px) {
  #nav {
    margin-bottom: 0px; }
    #nav h3 {
      font-size: 34px; }

  #projects .screen {
    width: 40%; } }
